p::first-letter {
  text-transform: uppercase;
}

h3::first-letter {
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.comment-view::-webkit-scrollbar {
  display: none;
}

.comment-view {
  padding: 0px 10px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
}
