.user-name:hover {
  cursor: pointer;
  color: #102d4f;
}
.user-list-items {
  padding: 10px;
  border-radius: 3px;
}
.user-list-items:hover {
  box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.2);
}
.user-list-items:hover .list-d{
  display: block;
}
.user-name {
  font-family: Merriweather;
  color: darkgray;
}

.search-user:active{
  border-width: 0 0 2px 0;
}

.input-text {
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 10px;
}

.input-text--search {
  background-image: url("/assets/search.svg");
  background-size: 18px, 50%;
  background-position: center right 10px, center right 38px;
  background-repeat: no-repeat;
  padding-left: 10px;
  width: 100%;
}

.input-text--search:hover{
  cursor: pointer;
}

input:focus{
  outline: 0;
}
.list-d {
  display: none;
}