<div class="wrapper" style="box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;padding: 0 1rem 0 1rem;">
    <div class="user-search" style="padding-top: 2rem;">
        <input class="input-text input-text--search" type=text placeholder="search" style="border-width: 0 0 2px 0; font-family: Nunito; font-size: medium;">
    </div>
    
    <div class="user-list">
      <ul *ngFor="let user of users" class="user-list-items" style="padding-left: 0;">
        <h2 (click)="fetchPostById(user.id)" class="user-name">{{ user.name }}</h2>
        <ul style="padding-left: 0;font-family: Nunito; color: darkgray; font-weight: 900;">Email</ul>
        <ul style="padding-left: 0;font-family: Nunito; color: darkgray;">{{ user.email }}</ul>
        <ul style="padding-left: 0;padding-top: 1.5rem;font-family: Nunito; color: darkgray; font-weight: 900">Website</ul>
        <ul style="padding-left: 0;font-family: Nunito; color: darkgray;">{{ user.website }}</ul>
      </ul>
    </div>    
</div>

